<div class="container">
    <h1 id="title1">Личный кабинет</h1>

    <div class="menu">
            <p><a href="/profile/me" class="btn btn-link menuBtn"><img class="menuImg" alt="myData" src="./assets/img/profile/user.png"/>Мои данные</a></p>
            <p><a href="/profile/accounts" class="btn btn-link menuBtn"><img class="menuImg" alt="commercialAcc" src="./assets/img/profile/dollarCoin.png"/>Коммерческий аккаунт</a></p>
            <p><a href="/" class="btn btn-link menuBtn"><img class="menuImg" alt="myReviews" src="./assets/img/profile/Pencil.png"/>Мои отзывы</a></p>
            <p><a href="/" class="btn btn-link menuBtn"><img class="menuImg" alt="myEvents" src="./assets/img/profile/users.png"/>Мои мероприятия</a></p>
            <p><a href="/" class="btn btn-link menuBtn"><img class="menuImg" alt="eventsHistory" src="./assets/img/profile/time.png"/>История мероприятий</a></p>
    </div>

    <div class="account-data">
        <div *ngIf="!this.user.pictureUrl && !this.user.commercialUser" class="leftPart"><img class="accImg" alt="accImg" src="./assets/img/profile/accImgExample.png"/>
                <p *ngIf="this.user.commercialUser" class="accType1">Коммерческий аккаунт</p>
                <p *ngIf="!this.user.commercialUser" class="accType2">Личный аккаунт</p>
        </div>
        <div *ngIf="!this.user.pictureUrl && this.user.commercialUser" class="leftPart"><img class="accImg" alt="accImg" src="./assets/img/profile/commercialAccImgExample.png"/>
            <p *ngIf="this.user.commercialUser" class="accType1">Коммерческий аккаунт</p>
            <p *ngIf="!this.user.commercialUser" class="accType2">Личный аккаунт</p>
        </div>
        <div *ngIf="this.user.pictureUrl" class="leftPart"><img class="accImg" alt="accImg" src="{{this.user.pictureUrl}}"/>
            <p *ngIf="this.user.commercialUser" class="accType1">Коммерческий аккаунт</p>
            <p *ngIf="!this.user.commercialUser" class="accType2">Личный аккаунт</p>
        </div>
        <div *ngIf="!this.user.commercialUser" class="rightPart"><b>{{user.firstName}} {{user.lastName}}</b>
            <hr class="accLine">
            <button type="button" class="btn btn-lg btn-danger accBtn1" [routerLink]="['/events/add']">Создать мероприятие</button>
            <button [disabled]="!authService.isAuth()" type="button" class="btn btn-lg btn-danger accBtn2" (click)="logOut()">Выйти</button>
        </div>
        <div *ngIf="this.user.commercialUser" class="rightPart"><b>"{{user.organizationName}}"</b>
            <hr class="accLine">
            <button type="button" class="btn btn-lg btn-danger accBtn1" [routerLink]="['/events/add']">Создать мероприятие</button>
            <button [disabled]="!authService.isAuth()" type="button" class="btn btn-lg btn-danger accBtn2" (click)="logOut()">Выйти</button>
        </div>
    </div>

    <div class="content">
        <h2 id="title2">Мои данные</h2>
        <div class="data">

            <!-- Image uploading field -->
            <div *ngIf="!this.user.pictureUrl" class="profileImage">
                <label class="btn btn-default uploadImg">
                    <input type="file" accept=".jpg,.jpeg,.png" ng2FileSelect [style.display]="'none'" [uploader]="uploader" #fileInput (change)="fileInput.value=''" (change)="photoSubmitOn()" hidden><img alt="uploadImg" src="./assets/img/profile/add.png"/>
                </label>
            </div>


            <img *ngIf="this.user.pictureUrl" class="profileImage" alt="accImg" src={{this.user.pictureUrl}}/>
            <button [disabled]="!this.user.pictureUrl" type="button" class="btn btn-lg btn-danger accBtn3" (click)="deletePhoto(dataChangeForm)">Удалить фото</button>
        
            <div class="profileData">
                <p style="font-size: 32px;" class="dataColumns"><b>{{user.firstName}} {{user.lastName}}</b></p>
                <p class="dataColumns">Логин: <b>{{user.login}}</b></p>
                <p class="dataColumns">E-mail: <b>{{user.email}}</b></p>
                <p class="dataColumns">Телефон: <b>{{user.phone}}</b></p>
            </div>
        </div>

        <h2 id="title3">Изменение данных</h2>
        <div class="control">
            <form #dataChangeForm="ngForm" (ngSubmit)="updateUser(dataChangeForm)">
                
                    <div class="left-form">
                        <div class="form-group" id="email-form">
                            <input #email="ngModel" [(ngModel)]="userEdited.email" class="form-control" id="email" name="email"
                                    placeholder="Адрес электронной почты" type="email"
                                    [class.is-invalid]="email.invalid" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                            >
                        </div>

                        <div class="form-group" id="firstname-form">
                            <input #firstName="ngModel" [(ngModel)]="userEdited.firstName"
                                class="form-control" id="firstName"
                                name="firstName" placeholder="Имя"
                                type="text">
                        </div>
                    
                        <div class="form-group" id="lastname-form">
                            <input #lastName="ngModel" [(ngModel)]="userEdited.lastName" class="form-control" id="lastName" name="lastName"
                                placeholder="Фамилия" type="text">
                        </div>
                    </div> 
                  
                    <div class="right-form">
                        <div class="form-group" id="phone-form">
                            <input #phone="ngModel" [(ngModel)]="userEdited.phone" class="form-control" id="phone" name="phone"
                                placeholder="Номер телефона" type="tel"
                                [class.is-invalid]="phone.invalid" pattern="^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$"
                            >
                        </div>

                        <div class="form-group" id="password-form">
                            <input #password="ngModel" [(ngModel)]="userEdited.password" class="form-control" id="pwd" name="password"
                                placeholder="Новый пароль" type="password"
                            >
                        </div>
                      
                        <div class="form-group" id="cpassword-form">
                            <input #cpassword="ngModel" [(ngModel)]="this.currentPassword" class="form-control" id="cpwd" name="cpassword" ngModel
                                placeholder="Текущий пароль (для подтверждения)" required type="password"
                            >
                            <small class="text-danger">{{msg}}</small>
                        </div>
                    </div>
                
                    <p style="text-indent:32%">
                        <button [disabled]="dataChangeForm.form.invalid" type="submit" class="btn btn-lg btn-danger contentBtn">Сохранить изменения</button>
                    </p>
            </form>
            
        </div>
    </div>

    
        <div *ngIf="this.isPhotoUploading">
            <div id="photoStatus" class="file" *ngFor="let response of responses; let i = index">
                    <h3>{{response.file.name}}</h3>
                    <div class="status">
                        Uploading... {{response.progress}}%
                        <div *ngIf="!response.status">In progress</div>
                        <div class="status-code" *ngIf="response.status">Upload completed with status code {{response.status}}</div>
                    </div>
                    <div *ngIf="!response.status" class="progress-bar">
                        <div class="progress" role="progressbar" [style.width.%]="response.progress"></div>
                    </div>
                    <button *ngIf="response.status" class="btn btn-lg btn-danger modalBtn"
                            onclick="(document.getElementById('photoStatus').style.display='none')"
                            onclick="(document.getElementById('photoStatus').innerHTML = '')"
                            (click)="photoSubmitOff(response.data, dataChangeForm)">Закрыть
                    </button>
            </div>
        </div>
</div>