<div class="container">

  <app-event-description (closeDescription)="currentActiveEvent=null"
                         [event]="currentActiveEvent"></app-event-description>

  <app-map (callSearch)="onCallSearch($event)" (mapReady)="onMapReady($event)"
           (selectEvents)="userEventSelectHandler($event)" [ngStyle]="{'width':mapSize}"
           *ngIf="showMap" [center]="[-483281,6904172]" [events]="events"
           [zoom]="14.5"
           class="map"></app-map>
  <app-event-search (closeSearch)="onCallSearch($event)" *ngIf="isSearchActive"></app-event-search>
</div>
