<div class="mycontainer">

  <app-event-description
    [event]="currentActiveEvent"></app-event-description>
  <app-list (clickOnEvent)="userEventSelectHandler($event)" *ngIf="!showMap" [events]="events"
            [filter]="filter"></app-list>
  <app-map (callListItem)="showList($event)" (callSearch)="onCallSearch($event)" (changeLocation)="changeLoc($event)"
           [hasSearch]="true"
           (changeMapBounds)="changeMapBounds($event)" (mapReady)="onMapReady($event)"
           (selectEvents)="userEventSelectHandler($event)" [ngStyle]="{'width':mapSize}"
           *ngIf="showMap" [center]="[-483281,6904172]"
           [events]="events"
           [zoom]="14.5"
           class="map"></app-map>
  <app-event-search (closeSearch)="onCallSearch($event)" (eventsSearched)="search($event)"
                    (filterChanged)="filter=$event" *ngIf="isSearchActive || !showMap" [isPagingUsed]="!showMap"
                    [userLocation]="currentLocation"></app-event-search>
</div>
