<div class="container">
  <h2 class="title">Жалобы</h2>
  <div class="complaints">
  <ng-select class="selectField" (ngModelChange)="changeFilter($event)" [(ngModel)]="currentStatus">
    <ng-option *ngFor="let status of items" [value]="status.id">{{status.name}}</ng-option>
  </ng-select>
  <div *ngFor="let complaint of currentComplaints">
    <p><u>Отправитель:</u> {{complaint.id.userId}}</p>
    <p><u>Содержание:</u> {{complaint.text}}</p>
    <a href="events/description?eventId={{complaint.id.eventId}}">Перейти к событию</a><br>
    <div style="margin-top: 20px;">
    <button class="btn btn-danger complBtn" (click)="rejectComplaint(complaint.id)">Отклонить жалобу</button>
    <button class="btn btn-danger complBtn" (click)="banComplaintAuthor(complaint.id.userId,complaint.id)">Заблокировать автора жалобы</button>
    <button class="btn btn-danger complBtn" (click)="sendWarning(complaint)">Вынести предупреждение организатору эвента</button>
    <button class="btn btn-danger complBtn" (click)="banEventOwner(complaint.id.eventId,complaint.id)">Заблокировать организатора</button>
    <button class="btn btn-danger complBtn" (click)="banEvent(complaint.id.eventId,complaint.id)">Заблокировать событие</button>
    <p *ngIf="statusesOfOperations.get(complaint.id)">{{statusesOfOperations.get(complaint.id)}}</p>
    <hr>
  </div>
  </div>
</div>
</div>
