<div class="container">
  <div class="left-part">


    <a href="./profile/login">
      <img alt="Личный кабинет" src="./assets/img/header/profile.png"/>
    </a>
    <a href="./friends">
      <img alt="Друзья" src="./assets/img/header/friends.png"/>
    </a>

    <a href="./events/map">
      <img alt="Карта" src="./assets/img/header/map.png"/>
    </a>

    <a href="./messages">
      <img alt="Сообщения" src="./assets/img/header/messages.png"/>
    </a>
  </div>

  <div class="middle">
    <a href="./events/add">
      <img alt="Добавить событие" src="./assets/img/header/add-sign.png"/>
    </a>
  </div>

  <div class="right-part">

    <a href="./events/incomingEvents">
      <img alt="Запланированные мероприятия" src="./assets/img/header/calendar.png"/>
    </a>

    <a href="./notifications">
      <img alt="Оповещения" src="./assets/img/header/notifications.png"/>
    </a>

    <a href="./settings">
      <img alt="Настройки" src="./assets/img/header/settings.png"/>
    </a>

  </div>

</div>
