.mycontainer {
  display: flex;
  justify-content: space-between;
  background-color: #D15D55;
  width: 100%;
}

img:hover {
  background-color: red;
}

.mycontainer div a {
  margin-right: 20px;
}

img {
  width: 55px;
  height: 55px;
}
