
<form (submit)="submit()" [formGroup]="formGroup">
  <label for="name">Название мероприятия</label>
  <input [formControl]="nameInput" class="form-control" id="name" type="text"/>
  <div *ngIf="nameInput.errors?.['required']&& (nameInput.dirty || nameInput.touched)" class="alert alert-danger">
    Название не заполнено
  </div>
  <label for="theme">Тема мероприятия</label>
  <input [formControl]="eventThemeInput" class="form-control" id="theme" type="text"/>
  <div *ngIf="eventThemeInput.errors?.['required']&& (eventThemeInput.dirty || eventThemeInput.touched)"
       class="alert alert-danger">Тема мероприятия не заполнена
  </div>
  <label for="type">Тип мероприятия</label>
  <select [formControl]="eventTypeInput" class="form-control" id="type">
    <option *ngFor="let type of eventTypes" value="{{type}}">{{type}}</option>
  </select>
  <div *ngIf="eventTypeInput.errors?.['required'] && (eventTypeInput.dirty || eventTypeInput.touched)"
       class="alert alert-danger">Тип мероприятия не заполнен
  </div>

  <label for="description">Описание</label>
  <textarea [formControl]="descriptionInput" class="form-control" id="description"></textarea>

  <label *ngIf="!isOnlineInput.value" for="location">Местоположение</label>
  <input *ngIf="!isOnlineInput.value" [formControl]="locationInput" class="form-control" id="location" type="text"
         value="{{location}}"/>

  <label for="begin">Время начала мероприятия</label>
  <input [formControl]="startTimeInput" class="form-control" id="begin" required type="datetime-local"/>
  <div *ngIf="startTimeInput.errors?.['required'] && (startTimeInput.dirty || startTimeInput.touched)"
       class="alert alert-danger">Дата начала не заполнена
  </div>
  <label for="end">Время окончания мероприятия</label>
  <input [formControl]="endTimeInput" class="form-control" id="end" type="datetime-local"/>
  <label for="maxCount">Максимальное кол-во участников</label>
  <input [formControl]="maxGuestsCountInput" class="form-control" id="maxCount" type="number"/>
  <label for="price">Цена</label>
  <input [formControl]="priceInput" class="form-control" id="price" type="number"/>
  <label for="isCloseChat">Закрыть личный чат с организатором</label>
  <input [formControl]="hasChatWithOwnerInput" class="mat-checkbox" id="isCloseChat" type="checkbox"/>
  <label for="private">Приватное мероприятие</label>
  <input [formControl]="isPrivateInput" class="form-check-input" id="private" type="checkbox"/>
  <label for="online">Онлайн</label>
  <input [formControl]="isOnlineInput" class="form-check-input" id="online" type="checkbox"/>





  <div *ngIf="invitedFriendsCheck">
    Приглашенные пользователи:
    <td *ngFor="let friend of invitedFriendsLogins" class="invitedUsers">
      {{friend}}
      <div class="deleteButton" id={{friend}} (click)="removeInvate($event)">x</div>
    </td>
  </div>


  <select [formControl]="invateUser" class="invateUser" (change)="friendInvate()" *ngIf="friendsCheck">
    <option class="">Пригласить пользователя</option>
    <option *ngFor="let friend of friends" id={{friend.id.owner.login}}>{{ friend.id.owner.login}} ({{ friend.id.owner.firstName}} {{ friend.id.owner.lastName}})</option>
  </select>






  <label *ngIf="isOnlineInput.value===true" for="urlInput">URL</label>
  <input [formControl]="urlInput" [hidden]="isOnlineInput.value!==true" class="form-control" id="urlInput" type="text"/>
  <div *ngIf="urlInput.errors && (urlInput.dirty || urlInput.touched)"
       class="alert alert-danger">Ссылка на мероприятие не заполнена
  </div>

  <div *ngFor="let theme of tagsInputs">
    <label for="tags">Тег</label>
    <input [formControl]="theme" class="form-control" id="tags" style="margin-bottom: 10px;" type="text"/>
    <div *ngIf="theme.errors?.['required'] && (theme.dirty || theme.touched)"
         class="alert alert-danger">Введите тег
    </div>
    <button (click)="remove(theme)" class="btn btn-danger" style="margin-bottom: 10px;">удалить</button>
  </div>
  <button (click)="addTag()" class="btn btn-secondary">add tag</button>
  <input class="btn btn-primary" type="submit" value="Создать">
  <p *ngIf="error!==''" class="alert-danger alert">{{error|json}}</p>
</form>

<h3 *ngIf="message!==''">{{message}}</h3>
<div class="mycontainer">
  <app-event-description (closeDescription)="closeEvent()" [event]="event"></app-event-description>
  <app-map
    (changeLocation)="locationChangeSubject.next($event)"
    [mapBoundsChange]="changeBounds"
    (selectEvents)="selectEvents($event)"
    [events]="events"
    [ngStyle]="{'width':mapWidth}"
    [center]="[-483281,6904172]"
    [zoom]="14.5"
    class="map">

  </app-map>
</div>
