<div class="container" *ngIf="event!=null" id="description">
  <h1 id="title">Информация о мероприятии&nbsp;<button *ngIf="hasClose" (click)="closeDescriptionFun()" class="exit-btn"><img alt="close"
                                                                                                                              src="./assets/img/mapImages/buttons/close-btn.png"/>
  </button></h1>
  <div class="description-row header">
    <h2 class="eventName">{{event.name}}</h2>
  </div>


  <div class="description-row">
    <div class="locationImage">
      <a *ngIf="event.url" href="{{event.url}}"><img *ngIf="event.isOnline" src="./assets/img/mapImages/online location.png"/>{{event.url}}</a>
      <p *ngIf="event?.location?.name"><img *ngIf="!event.isOnline" src="./assets/img/mapImages/event location.png"/>{{event?.location?.name}}</p>
    </div>


  </div>
  <div class="description-row owner">
    <p><u>Организатор:</u></p>
    <div class="owner-container" *ngIf="event.owner && event.owner.login">
      <a href="reviews?login={{event.owner.login}}">
        <img *ngIf="event.owner.phoneConfirmed" alt="confirm" src="assets/img/profile/confirm-icon.png"  height="30px" width="30px"/><p>{{event.owner?.login}}</p>
      </a>

      <img *ngFor="let item of [].constructor(event.avgMark||0); let i = index"
           src="./assets/img/rating-star-icon.png"/>
    </div>
  </div>
  <div class="description-row owner">
    <p><u>Время начала:</u></p>
    <p>{{event.dateTimeStart | date:'dd.MM.YY HH:mm'}}</p>
  </div>
  <div *ngIf="event.dateTimeEnd!==null" class="description-row owner">
    <p><u>Время окончания мероприятия:</u></p>
    <p>{{event.dateTimeEnd | date:'dd.MM.YY HH:mm'}}</p>
  </div>
  <div *ngIf="event.maxNumberOfGuests!==0" class="description-row owner">
    <p><u>Максимальное кол-во участников:</u></p>
    <p>{{event.maxNumberOfGuests}}</p>
  </div>
  <div class="description-row">
    <p><u>Участников:</u></p>
    <p>{{event.guests?.length}}</p>
  </div>
  <div class="description-row description">
    <p><u>Дополнительная информация:</u></p>
    <pre>
      {{event.description}}
    </pre>
  </div>
  <div class="description-row" *ngIf="!event.isOnline">
    <p>Эту локацию за все время посетило {{event.visitorsCount?event.visitorsCount:0}} человек.</p>
  </div>
  <hr>
  <div class="description-row description-buttons">
    <div class="description-button" *ngIf="event.owner?.login!==userName">
      <button (click)="removeFromEvent()" *ngIf="event.currentUserEntered"><img
        src="./assets/img/mapImages/buttons/remove-from-event.png"/>&nbsp;&nbsp;&nbsp;Отменить запись</button>

      <button (click)="assignOnEvent()" *ngIf="!event.currentUserEntered "><img
        src="./assets/img/mapImages/buttons/assign-event-btn.png"/>&nbsp;&nbsp;&nbsp;Записаться на мероприятие</button>
    </div>
    <div *ngIf="event.currentUserEntered || (event.owner&& event.owner.login===userName)" class="description-button">
      <button (click)="createAndGoToChat()" *ngIf="event.chatId===undefined"><img
        src="./assets/img/mapImages/buttons/group-chat.png"/>&nbsp;&nbsp;&nbsp;Групповой чат</button>
      <button (click)="goToChat(event.chatId)" *ngIf="event.chatId!==undefined"><img
        src="./assets/img/mapImages/buttons/group-chat.png"/>&nbsp;&nbsp;&nbsp;Групповой чат</button>
    </div>
    <div *ngIf="event.hasChatWithOwner && event.owner?.login!==userName" class="description-button">
      <button (click)="callEventOwner()"><img src="./assets/img/mapImages/buttons/chat_with_admin.png"/>&nbsp;&nbsp;&nbsp;Связь с организатором</button>
    </div>
    <div *ngIf="event.owner?.login!==userName" class="description-button">
      <button (click)="complainOnEvent()"><img src="./assets/img/mapImages/buttons/complaint_btn.png"/>&nbsp;&nbsp;&nbsp;Пожаловаться на мероприятие</button>
    </div>
  </div>
  <p class="alert-warning" *ngIf="error!==''">{{error}}</p>

  <div class="description-row tags">
    <h3 *ngFor="let tag of event.tags" class="description-tag">#{{tag}}&nbsp;&nbsp;</h3>
  </div>
  <div class="price">
    <img *ngIf="event.price==0" alt="free event" src="./assets/img/FREE%20PRICE.png"/>
    <p *ngIf="event.price !==0">{{event.price}}</p>
    <img *ngIf="event.price!==0" alt="paid event" src="./assets/img/ruble.png"/>
  </div>
</div>
