.container {
  max-width: 55%;
  max-height: 100%;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

.messages-div {
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #EEEEEE 100%);
  border-radius: 5px;
  padding: 30px 40px 30px 40px;
  max-height: 100%;
}

ul {
  list-style: none;
}

.messages-header {
  display: flex;
  flex-direction: row;

}

img {
  margin-right: 20px;
}

li a {
  font-weight: bold;
}

.miniImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.unreadMsg {
  border-radius: 50%;
  background-color: #D15D55;
  width: 25px;
  height: 25px;
  text-align: center;

  margin-right: 10px;
  color: white;
}

.messages-container{
  display: flex;
  justify-content: space-between;
}

#title {
  position: relative;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;

  color: #000000;
}

.form-control {
  width: 85%;
  margin-bottom: 20px;
}

.createDialogBtn {
  height: 45px;
  width: 140px;
  background: #D15D55;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: white;

  margin-left: 20px;
  margin-top: -3px;
}

.btn-danger:hover {
  background: #FF0000;
  transition: .7s;
}
