<div class="page">
<h1 id="title1">Друзья</h1>
<div class="friends" *ngIf="!autorisationCheck">
    <h2 id="autorizationAlert">Для просмотра данной страницы вам необходимо авторизироваться!</h2>
</div>

<div class="friends" *ngIf="autorisationCheck">
    <input type="search" class="search form-control" placeholder="Найти пользователя" (change)="requestChange()" id="searchField" />
    <select class="searchOption form-select" id="searchOption">
        <option class="dropContentFields">Поиск по логину</option>
        <option class="dropContentFields">Поиск по имени и фамилии</option>
    </select>
    <button class="btn btn-outline-danger" id="search-button" (click)="requestChange()">Поиск</button>
    <hr style="width: 700px; margin-left: 50px; margin-top: 10px;">
    <div id="friend" *ngIf="friendsCheck"><u>Друзья:</u></div>
    <tbody *ngIf="friendsCheck">
        <div class="tableRow">
            <tr *ngFor=" let friend of friends">
                <td class="listSelectorField"><img src={{friend.owner.pictureUrl}} class="listSelectorImage" /></td>
                <td class="listSelectorField">   </td>
                <td class="listSelectorField"> {{ friend.owner.login}}</td>
                <td class="listSelectorField">   </td>
                <td class="listSelectorField"> ({{ friend.owner.firstName}}</td>
                <td class="listSelectorField">   </td>
                <td class="listSelectorField"> {{ friend.owner.lastName}})</td>
                <td class="listSelectorField">   </td>
                <td class="dropDown">
                    <button class="dropBtn"><img src="../../../../assets/img/friends/Menu.png" /></button>
                    <div class="dropContent">
                        <button class="dropContentFields" id={{friend.owner.login}} (click)="clickAddedFriendButton($event)">Отправить сообщение</button>
                        <button class="dropContentFields" id={{friend.owner.login}} (click)="clickAddedFriendButton($event)">Удалить из друзей</button>
                    </div>
                </td>
            </tr>
        </div>
    </tbody>
    <div id="sub" *ngIf="requestsCheck"><u>Подписчики:</u></div>
    <tbody *ngIf="requestsCheck">
        <div class="tableRow">
            <tr *ngFor=" let request of requests">
                <td class="listSelectorField"><img src={{request.owner.pictureUrl}} class="listSelectorImage" /></td>
                <td class="listSelectorField">   </td>
                <td class="listSelectorField"> {{ request.owner.login}}</td>
                <td class="listSelectorField">   </td>
                <td class="listSelectorField"> ({{ request.owner.firstName}}</td>
                <td class="listSelectorField">   </td>
                <td class="listSelectorField"> {{ request.owner.lastName}})</td>
                <td class="listSelectorField">   </td>
                <td class="dropDown">
                    <button class="dropBtn"><img src="../../../../assets/img/friends/Menu.png" /></button>
                    <div class="dropContent">
                        <button class="dropContentFields" id={{request.owner.login}} (click)="clickRequestButton($event)">Принять заявку</button>
                        <button class="dropContentFields" id={{request.owner.login}} (click)="clickRequestButton($event)">Отклонить заявку</button>
                    </div>
                </td>
            </tr>
        </div>
    </tbody>
    <div id="sent" *ngIf="sendedRequestsCheck"><u>Исходящие заявки:</u></div>
    <tbody *ngIf="sendedRequestsCheck">
        <div class="tableRow">
            <tr *ngFor=" let request of sendedRequests">
                <td class="listSelectorField"><img src={{request.friend.pictureUrl}} class="listSelectorImage" /></td>
                <td class="listSelectorField">   </td>
                <td class="listSelectorField"> {{ request.friend.login}}</td>
                <td class="listSelectorField">   </td>
                <td class="listSelectorField"> ({{ request.friend.firstName}}</td>
                <td class="listSelectorField">   </td>
                <td class="listSelectorField"> {{ request.friend.lastName}})</td>
                <td class="listSelectorField">   </td>
                <td class="dropDown">
                    <button class="dropBtn"><img src="../../../../assets/img/friends/Menu.png" /></button>
                    <div class="dropContent">
                        <button class="dropContentFields" id={{request.friend.login}} (click)="clickSendedRequestButton($event)">Отклонить заявку</button>
                    </div>
                </td>
            </tr>
        </div>
    </tbody>
    <div id="find" *ngIf="findCheck"><u>Результаты поиска:</u></div>
    <tbody *ngIf="findCheck">
        <div class="tableRow">
        <tr *ngFor = "let user of users">
            <td class="listSelectorField"><img src={{user.pictureUrl}} class="listSelectorImage" /></td>
            <td class="listSelectorField">   </td>
            <td class="listSelectorField"> {{ user.login}}</td>
            <td class="listSelectorField">   </td>
            <td class="listSelectorField"> ({{ user.firstName}}</td>
            <td class="listSelectorField">   </td>
            <td class="listSelectorField"> {{ user.lastName}})</td>
            <td class="listSelectorField">   </td>
            <td class="dropDown">
                <button class="dropBtn"><img src="../../../../assets/img/friends/Menu.png" /></button>
                <div class="dropContent">
                    <button (click)="clickFriendButton($event)" class="dropContentFields" id={{user.login}}>
                      Отправить заявку
                    </button>
                </div>
            </td>
        </tr>
        </div>
    </tbody>
    <div class="listSelector" id="find" *ngIf="!friendsCheck && !sendedRequestsCheck && !requestsCheck && !findCheck">Похоже, что Ваш список друзей пуст!</div>
</div>
</div>
