<div class="container">
    <h1 id="title">Личный кабинет</h1>

    <div class="menu">
      <p><a href="/profile/me" class="btn btn-link menuBtn"><img class="menuImg" alt="myData" src="./assets/img/profile/user.png"/>Мои данные</a></p>
      <p><a href="/profile/events" class="btn btn-link menuBtn"><img class="menuImg" alt="myEvents" src="./assets/img/profile/users.png"/>Мои мероприятия</a></p>
      <p><a href="/profile/accounts" class="btn btn-link menuBtn"><img class="menuImg" alt="commercialAcc" src="./assets/img/profile/dollarCoin.png"/>Коммерческий аккаунт</a></p>
      <p><a href="/profile/eventsHistory" class="btn btn-link menuBtn"><img class="menuImg" alt="eventsHistory" src="./assets/img/profile/time.png"/>История мероприятий</a></p>
      <p><button [disabled]="!isAdmin()" [routerLink]="['/profile/admin']" class="btn btn-link menuBtn"><img class="menuImg" alt="admin panel" src="./assets/img/profile/admin-icon.png"/>Панель администратора</button>
  </div>

    <div class="account-data">
        <div *ngIf="!this.user.pictureUrl && !this.user.commercialUser" class="leftPart"><img class="accImg" alt="accImg" src="./assets/img/profile/accImgExample.png"/>
            <p *ngIf="this.user.commercialUser" class="accType1">Коммерческий аккаунт</p>
            <p *ngIf="!this.user.commercialUser" class="accType2">Личный аккаунт</p>
        </div>
        <div *ngIf="!this.user.pictureUrl && this.user.commercialUser" class="leftPart"><img class="accImg" alt="accImg" src="./assets/img/profile/commercialAccImgExample.png"/>
            <p *ngIf="this.user.commercialUser" class="accType1">Коммерческий аккаунт</p>
            <p *ngIf="!this.user.commercialUser" class="accType2">Личный аккаунт</p>
        </div>
        <div *ngIf="this.user.pictureUrl" class="leftPart"><img class="accImg" alt="accImg" src="{{this.user.pictureUrl}}"/>
            <p *ngIf="this.user.commercialUser" class="accType1">Коммерческий аккаунт</p>
            <p *ngIf="!this.user.commercialUser" class="accType2">Личный аккаунт</p>
        </div>
        <div *ngIf="!this.user.commercialUser" class="rightPart"><b>{{user.firstName}} {{user.lastName}}</b>
            <hr class="accLine">
            <button type="button" class="btn btn-lg btn-danger accBtn1" [routerLink]="['/events/add']">Создать мероприятие</button>
            <button [disabled]="!authService.isAuth()" type="button" class="btn btn-lg btn-danger accBtn2" (click)="logOut()">Выйти</button>
        </div>
        <div *ngIf="this.user.commercialUser" class="rightPart"><b>"{{user.organizationName}}"</b>
            <hr class="accLine">
            <button type="button" class="btn btn-lg btn-danger accBtn1" [routerLink]="['/events/add']">Создать мероприятие</button>
            <button [disabled]="!authService.isAuth()" type="button" class="btn btn-lg btn-danger accBtn2" (click)="logOut()">Выйти</button>
        </div>
    </div>

    <div class="content">
        <h2 id="eventsHistory-title">История мероприятий</h2>
        <p id="allTimeEvents-p"><u>Мероприятия, посещённые за всё время:</u></p>
        <div class="allTimeEvents">
            <div *ngIf="this.allTimeEvents.length != 0" class="eventsList">
                <table class="table">
                    <thead>
                        <tr>
                          <th>#</th>
                          <th>Название</th>
                          <th>Дата начала</th>
                          <th>Дата окончания</th>
                          <th>Формат</th>
                          <th>Рейтинг</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let event of allTimeEvents; index as i">
                          <th scope="row">{{i+1}}</th>
                          <td>{{event.name}}</td>
                          <td>{{event.dateTimeStart | date:'medium'}}</td>
                          <td>{{event.dateTimeEnd | date:'medium'}}</td>
                          <td *ngIf="event.isOnline">Online</td>
                          <td *ngIf="!event.isOnline">Offline</td>
                          <td>{{event.avgMark}}</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div *ngIf="this.allTimeEvents.length == 0" class="eventsList">
                <h1 style="position: relative; top: 43%; left: 25%;">Вы еще не посещали ни одно мероприятие :(</h1>
            </div>
        </div>

        <div id="filteredEvents-p">
            <p><u>Мероприятия, посещённые за определённый период:</u></p>
            <form #filterEvents="ngForm" (ngSubmit)="filter()">
                <div id="begin-div">C:<input #date1="ngModel" [(ngModel)]="this.dateStart" class="form-control dateTime" id="date1" name="date1" type="datetime-local"/></div>
                <div id="end-div">По:<input #date2="ngModel" [(ngModel)]="this.dateEnd" class="form-control dateTime" id="date2" name="date2" type="datetime-local"/></div>
                <input class="btn btn-danger submitBtn" type="submit" value="Показать">
            </form>
        </div>
        <div class="filteredEvents">
            <div *ngIf="this.filteredEvents.length != 0" class="eventsList">
                <table class="table">
                    <thead>
                        <tr>
                          <th>#</th>
                          <th>Название</th>
                          <th>Дата начала</th>
                          <th>Дата окончания</th>
                          <th>Формат</th>
                          <th>Рейтинг</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let event of filteredEvents; index as i">
                          <th scope="row">{{i+1}}</th>
                          <td>{{event.name}}</td>
                          <td>{{event.dateTimeStart | date:'medium'}}</td>
                          <td>{{event.dateTimeEnd | date:'medium'}}</td>
                          <td *ngIf="event.isOnline">Online</td>
                          <td *ngIf="!event.isOnline">Offline</td>
                          <td>{{event.avgMark}}</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div *ngIf="this.filteredEvents.length == 0" class="eventsList">
                <h1 style="position: relative; top: 43%; left: 20%;">Посещённых мероприятий за заданный период не найдено :(</h1>
            </div>
        </div>
    </div>

    
</div>
