.container {
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
}


.menu {
    width: 427px;
    height: 510px;
    margin-bottom: 122px;

    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #EEEEEE 100%);
    border-radius: 5px;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 20px;

    margin-left: -200px;
}

.account-data {
    width: 427px;
    height: 150px;
    box-sizing: border-box;
    padding: 25px;

    font-style: normal;
    font-weight: 320;

    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #EEEEEE 100%);
    border-radius: 5px;

    margin-left: -200px;
}

.content {
    width: 1200px;
    height: 785px;
    margin-left: 330px;
    margin-top: -783px;

    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #EEEEEE 100%);
    border-radius: 5px;
}

#title {
    margin-top: 20px;

    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 44px;

    color: #000000;

    margin-left: -200px;
}

.allTimeEvents {
    position: absolute;
    width: 1120px;
    height: 240px;
    margin-top: 40px;
    margin-left: 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
    box-sizing: border-box;
    padding: 10px;

    background: #E3E3E3;
    border-radius: 3px;
}

.filteredEvents {
    position: relative;
    width: 1120px;
    height: 240px;
    top: 310px;
    left: 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
    box-sizing: border-box;
    padding: 10px;

    background: #E3E3E3;
    border-radius: 3px;
}

.excMark {
    left: 1%;
    top: 3%;
    position: absolute;
}

#eventsHistory-title {
    left: 40px;
    top: 30px;
    position: relative;
}

#allTimeEvents-p {
    left: 40px;
    top: 26px;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

#filteredEvents-p {
    left: 40px;
    top: 305px;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.eventsList {
    height: 220px; 
    overflow: hidden; 
    overflow-y: scroll;
}

.eventsLine {
    width: 1050px;
    margin-left: 10px;
}

.createdEventsButtons {
    margin-top: -25px;
}

.attendedEventsButtons {
    margin-top: -25px;
}

.eventBtn1 {
    width: 150px;
    height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 15px;
    color: white;

    background: #D15D55;
    border-radius: 10px;

    margin-left: 500px;
}

.eventBtn2 {
    width: 150px;
    height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 15px;
    color: white;

    background: #D15D55;
    border-radius: 10px;

    margin-left: 30px;
}

.eventBtn3 {
    width: 150px;
    height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 15px;
    color: white;

    background: #D15D55;
    border-radius: 10px;

    margin-left: 30px;
}

.excMark1 {
    left: 1%;
    top: 6%;
    position: absolute;
}

.contentBtn {
    width: 300px;
    height: 43px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: white;

    background: #D15D55;
    border-radius: 10px;
}

.btn-danger:hover {
    background: #FF0000;
    transition: .7s;
  }

.menuBtn {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font: 20px/40px Roboto, sans-serif;
    padding-left: 10px;
    transition: all .2s ease
}

.menuBtn:hover {
    color:  #D15D55;
    text-shadow: 0 0 1px  #D15D55;
  }

  .menuImg {
     margin-top: -5px;
     margin-right: 20px;
  }

  .accBtn1 {
    width: 150px;
    height: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    color: white;

    background: #D15D55;
    border-radius: 10px;
  }

  .accBtn2 {
    width: 80px;
    height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: white;

    background: #D15D55;
    border-radius: 10px;

    margin-top: 20px;
    margin-left: 20px;
  }

  .accLine {
    width: 255px;
  }

  .leftPart{
    font-size: 12px;
  }

  .rightPart {
    float: right;
    margin-top: -115px;

    line-height: 10px;
    font-size: 22px;
  }

  .accImg {
    width: 80px;
    height: 80px;
    margin-top: 5px;
    margin-left: 7px;
    border-radius: 50px;
  }

  .accType1 {
    text-indent: -10px;
  }

  .accType2 {
    text-indent: 5px;
  }

  .eventDescription {
    position: absolute;
    top: 50px;
    right: 0px;
    bottom: 0;
    left: 2040px;
    margin: auto;
    width: 500px;
    height: 1000px;
    padding: 20px;

    border: 3px solid #000000;
    border-radius: 10px;
    background: #fff;
  }
  
  #title1 {
    text-align: center;
    position: relative;
    margin-left: 15px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
  
    color: #000000;
  }
  
  .description-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  
  .description-row {
    margin-bottom: 20px;
  }
  
  .header {
    margin-bottom: 0;
  }
  
  .header {
    justify-content: end;
  }
  
  .description-row h2 {
    margin: 0 auto;
  }
  
  .exit-btn {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
  }
  
  .description, .description-buttons {
    display: block;
  }
  
  .description-button, .owner div {
    display: flex;
  }
  
  .owner-container img {
    height: 20px;
    width: 20px;
  }
  
  .description-button button {
    background: none;
    border: none;
  }
  
  .description-button {
    margin-bottom: 10px;
    height: 50px;
  }
  
  .description-button button:hover {
    background: #D15D55;
    border-radius: 10px;
    color: white;
  }
  
  .tags {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  
  .tags h3 {
    font-weight: bold;
  }

  .dateTime {
      width: 350px;
  }

  #date1 {
      margin-left: 35px;
      margin-top: -32px;
  }

  #begin-div {
      margin-top: 20px;
  }

  #date2 {
    margin-left: 45px;
    margin-top: -32px;
  }

  #end-div {
      margin-left: 410px;
      margin-top: -33px;
  }

  .submitBtn {
    width: 150px;
    height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: white;

    background: #D15D55;
    border-radius: 10px;

    margin-top: -70px;
    margin-left: 850px;
  }