.container {
    max-height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
  }

.notifications {
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #EEEEEE 100%);
    border-radius: 5px;
    padding: 30px 40px 30px 40px;
    max-height: 100%;
    overflow-y: scroll;
}

.notifications_header {
    position: relative;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;

    color: #000000;
}

.notifications_selector {
    display: block;
    margin: 20px 0px 0px 20px;
}

.notifications_selector_element {
    margin: 0 0 10px 0;
}

.inviteText {
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
}

.inviteButton {
    margin-top: 15px;

    height: 40px;
    width: 140px;
    background: #D15D55;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: white;
    border: none;
}

.btn-danger:hover {
    background: #FF0000;
    transition: .7s;
  }

.inviteButtonArea {
    display: flex;
    justify-content: space-around;
}

.inviteDescription {
    display:flex;
    position:absolute;
    height: 500px;
    width: 500px;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    border-radius: 5px;
}

.inviteDescriptionClose {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 555;
}

.inviteTexst {
    display: block;
    position:unset;
    font-size: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    text-align: center;
    width: 100%;
    margin: 10px 0 0 0;
}
