@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    width: 1000px;
    max-height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
  }

  #title {
    position: relative;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
  
    color: #000000;
  }

.surveyTest {
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #EEEEEE 100%);
    border-radius: 5px;
    padding: 30px 40px 30px 40px;
}

.surveyTest-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}

.surveyTest-text-caption{
    width: 100%;
    margin-top: 30px;
}

.radio-area {
    margin: 34px 40px 0 0;
}

.surveyTest-textarea {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
}

.radio-area-time {
    height: 28px;
    margin: 0 0 0 10px;
}

.dateTime {
    width: 100%;
    height: 40px;
}

#surveyTest-text-captionType {
    margin-left: 0;
}

#surveyTest-button-end {
    margin-left: 50px;
}

#surveyTest-button-cancel {
    margin-left: 190px;
}

#text-city {
    margin-left: 0;
}

.surveyTest-button {
    width: 300px;
    height: 60px;
    background: #D15D55;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: white;

    margin-top: 40px;
  }

.btn-danger:hover {
    background: #FF0000;
    transition: .7s;
}