<div class="messages-div">
  <div class="messages-header">
    <input [formControl]="inputCntrl" class="form-control border-3 border-info" type="text"/>
    <button class="btn btn-secondary">Создать беседу</button>
  </div>

  <div>
    <ul *ngIf="!isChatsSearched">
      <li *ngFor="let chat of chats">
        <img *ngIf="!chat.private " class="miniImage" src="assets/img/group-chat.png"/>
        <img *ngIf="chat.private" class="miniImage" src="{{imagesMaps.get(chat.id)||'assets/img/profile/user.png'}}"/>
        <a href="/chat;id={{chat.id}}">{{chat.name}}</a>
        <p>{{chat.message?.text}}</p>
        <b *ngIf="chat.unReadCount && chat.unReadCount>0">{{chat.unReadCount || ''}}</b>
        <hr/>
      </li>

    </ul>
  <ul *ngIf="isChatsSearched">
    <li *ngFor="let chat of searchedChats">
      <img *ngIf="!chat.private " class="miniImage" src="assets/img/group-chat.png"/>
      <img *ngIf="chat.private" class="miniImage" src="{{imagesMaps.get(chat.id)||'assets/img/profile/user.png'}}"/>
      <a *ngIf="!chat.isNewFriendChat" href="/chat;id={{chat.id}}">{{chat.name}}</a>
      <p *ngIf="chat.isNewFriendChat">{{chat.name}}</p>
      <button (click)="createChatWithFriend(chat.chatUsers[0]?.user?.login||'')" *ngIf="chat.isNewFriendChat"
              class="beginDialog">
        начать диалог
      </button>
      <p *ngIf="!chat.isNewFriendChat">{{chat.message?.text}}</p>
      <b *ngIf="chat.unReadCount && chat.unReadCount>0">{{chat.unReadCount || ''}}</b>
      <hr/>
    </li>
  </ul>
  </div>
</div>
