.messages-div {
  background-color: #E5E5E5;
}

ul {
  list-style: none;
}

.messages-header {
  display: flex;
  flex-direction: row;

}

li a {
  font-weight: bold;
}

.miniImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

b {
  border: 1px solid #C4C4C4;
  border-radius: 25% 10%;
  background-color: #C4C4C4;
}
