<input [formControl]="inputCntrl" type="text"/>
<button>Создать беседу</button>
<div>
  <ul *ngIf="!isChatsSearched">
    <li *ngFor="let chat of chats">
      <a href="/chat;id={{chat.id}}">{{chat.name}}</a>
      <p>{{chat.message?.text}}</p>
    </li>
  </ul>
  <ul *ngIf="isChatsSearched">
    <li *ngFor="let chat of searchedChats">
      <a *ngIf="!chat.isNewFriendChat" href="/chat;id={{chat.id}}">{{chat.name}}</a>
      <p *ngIf="chat.isNewFriendChat">{{chat.name}}</p>
      <button (click)="createChatWithFriend(chat.users[0]?.login||'')" *ngIf="chat.isNewFriendChat" class="beginDialog">
        начать диалог
      </button>
      <p *ngIf="!chat.isNewFriendChat">{{chat.message?.text}}</p>
    </li>
  </ul>
</div>
