<div class="friends">
    <input type="search" class="search" placeholder="login" (change)="requestChange()" id="searchField" />
    <select class="searchOption" id="searchOption">
        <option class="dropContentFields">Поиск по логину</option>
        <option class="dropContentFields">Поиск по имени и фамилии</option>
    </select>
    <div class="listSelector" id="friend" *ngIf="friendsCheck">Друзья</div>
    <tbody class="listSelector" *ngIf="friendsCheck">
        <tr *ngFor=" let friend of friends">
            <td class="listSelectorField"> {{ friend.id.owner.login}}</td>
            <td class="listSelectorField">   </td>
            <td class="listSelectorField"> ({{ friend.id.owner.firstName}}</td>
            <td class="listSelectorField">   </td>
            <td class="listSelectorField"> {{ friend.id.owner.lastName}})</td>
            <td class="listSelectorField">   </td>
            <td class="dropDown">
                <button class="dropBtn"><img src="./../../../../assets/img/friends/image 3.png" /></button>
                <div class="dropContent">
                    <button class="dropContentFields" id={{friend.id.owner.login}} (click)="clickAddedFriendButton($event)">Отправить сообщение</button>
                    <button class="dropContentFields" id={{friend.id.owner.login}} (click)="clickAddedFriendButton($event)">Удалить из друзей</button>
                </div>
            </td>
        </tr>
    </tbody>
    <div class="listSelector" id="sub" *ngIf="requestsCheck">Подписчики</div>
    <tbody class="listSelector" *ngIf="requestsCheck">
        <tr *ngFor=" let request of requests">
            <td class="listSelectorField"> {{ request.id.owner.login}}</td>
            <td class="listSelectorField">   </td>
            <td class="listSelectorField"> ({{ request.id.owner.firstName}}</td>
            <td class="listSelectorField">   </td>
            <td class="listSelectorField"> {{ request.id.owner.lastName}})</td>
            <td class="listSelectorField">   </td>
            <td class="dropDown">
                <button class="dropBtn"><img src="./../../../../assets/img/friends/image 3.png" /></button>
                <div class="dropContent">
                    <button class="dropContentFields" id={{request.id.owner.login}} (click)="clickRequestButton($event)">Принять заявку</button>
                    <button class="dropContentFields" id={{request.id.owner.login}} (click)="clickRequestButton($event)">Отклонить заявку</button>
                </div>
            </td>
        </tr>
    </tbody>
    <div class="listSelector" id="sent" *ngIf="sendedRequestsCheck">Исходящие заявки</div>
    <tbody class="listSelector" *ngIf="sendedRequestsCheck">
        <tr *ngFor=" let request of sendedRequests">
            <td class="listSelectorField"> {{ request.id.friend.login}}</td>
            <td class="listSelectorField">   </td>
            <td class="listSelectorField"> ({{ request.id.friend.firstName}}</td>
            <td class="listSelectorField">   </td>
            <td class="listSelectorField"> {{ request.id.friend.lastName}})</td>
            <td class="listSelectorField">   </td>
            <td class="dropDown">
                <button class="dropBtn"><img src="./../../../../assets/img/friends/image 3.png" /></button>
                <div class="dropContent">
                    <button class="dropContentFields" id={{request.id.friend.login}} (click)="clickSendedRequestButton($event)">Отклонить заявку</button>
                </div>
            </td>
        </tr>
    </tbody>
    <div class="listSelector" id="find" *ngIf="findCheck">Найти друзей</div>
    <tbody *ngIf="findCheck" class="listSelector">
        <tr *ngFor = "let user of users">
            <td class="listSelectorField"> {{ user.login}}</td>
            <td class="listSelectorField">   </td>
            <td class="listSelectorField"> ({{ user.firstName}}</td>
            <td class="listSelectorField">   </td>
            <td class="listSelectorField"> {{ user.lastName}})</td>
            <td class="listSelectorField">   </td>
            <td class="dropDown">
                <button class="dropBtn"><img src="./../../../../assets/img/friends/image 3.png" /></button>
                <div class="dropContent">
                    <button class="dropContentFields" id={{user.login}} (click)="clickFriendButton($event)">Отправить заявку</button>
                </div>
            </td>
        </tr>
    </tbody>
    <div class="listSelector" id="find" *ngIf="!friendsCheck && !sendedRequestsCheck && !requestsCheck && !findCheck">Похоже что ваш список друзей пуст!</div>
</div>
