@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.page {
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.friends {
    display: block;
    margin-left: -105px;
    height: 740px;
    width: 800px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #EEEEEE 100%);
    left: calc(50% - 750px);
    top: 55px;
    border-radius: 5px;
    overflow: hidden; 
    overflow-y: scroll;
}

.findFriendsButton {
    position: absolute;
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    text-align: center;
    top: 30px;
    line-height: 50px;
    font-size: 24px;
    margin: 0 0 50px 50px;
    color: #000000;
    text-decoration: none;
}

.listSelector {
    display: block;
    margin: 250px 0 0 540px;
    line-height: 50px;
    font-size: 24px;
}

.search {
    margin: 50px 0 0 50px;
    width: 700px;
    height: 50px;
    background: #FFFFFF;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    padding-left: 15px;
}

.searchOption {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 24px;
    width: 450px;
    height: 50px;
}

#search-button {
    width: 150px;
    height: 50px;
    margin-top: -78px;
    margin-left: 600px;
    background: #D15D55;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: white;
  }

#search-button:hover {
    background: #FF0000;
    transition: .7s;
}

.listSelectorField {
    height: 50px;
    vertical-align: top;
}

.tableRow {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 18px;
}

.dropBtn {
    border-radius: 30px;
    height: 30px;
    width: 45px;
    line-height: 20px;
}

.dropDown:hover .dropContent {
    display: block;
    position: absolute;
}

.dropContent {
    display: none;
    background-color: #FFFFFF;
}

.dropContentFields {
    display: block;
    text-decoration: none;
    color: #000000;
    border: none;
    width: 100%;
}

.dropContentFields:hover {
    background-color: #DDD;
}

.listSelectorImage {
    height: 40px;
    width: 40px;
    border-radius: 26px;
    margin-top: -5px;
}

#autorisationAlert {
    width: calc(100% - 200px);
    text-align: center;
}

#title1 {
    margin-top: -800px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;

    color: #000000;
}

#sent {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 24px;
}

#find {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 24px;
}

#sub {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 24px;
}

#friend {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 24px;
}