<body class="page">

  <div class="container">
    <h1 id="title">Вход в личный кабинет</h1>
    <form #loginForm="ngForm" (ngSubmit)="loginUser()">
      <small class="text-danger" id="incorrect-credentials">{{msg}}</small>

      <div class="form-group" id="login-form">
        <label for="login">Логин:</label>
        <input type="text" class="form-control" placeholder="Введите логин" name="login" [(ngModel)]="user.login" #login="ngModel" required
        [class.is-invalid]="login.invalid && login.touched" pattern="^(?=.*[A-Za-z0-9]$)[A-Za-z][A-Za-z\d.-]{0,19}$"
        >
        <div *ngIf="login.errors && (login.invalid && login.touched)">
          <small class="text-danger" *ngIf="login.errors?.['required']">Логин - обязательное поле!</small>
          <small class="text-danger" *ngIf="login.errors?.['pattern']">Логин введён некорректно!</small>
        </div>
      </div>

      <div class="form-group" id="password-form">
        <label for="pwd">Пароль:</label>
        <input type="password" class="form-control" placeholder="Введите пароль" name="password"
               [(ngModel)]="user.password" #password="ngModel" required
               [class.is-invalid]="password.invalid && password.touched"
        >
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Пароль - обязательное
          поле!</small>
      </div>

      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Запомнить меня</label>
      </div>
      <a href="{{BACKEND}}/oauth2/authorization/google">
        <div class="google-btn">
          <img src="./assets/img/sign-in-with-google.svg"/>
          <p>Войти через Google</p>
        </div>
      </a>
      <button [disabled]="loginForm.form.invalid" type="submit" class="btn btn-outline-danger" id="submit-button">
        Войти
      </button>
      <small id="toRegistry-button">
        Ещё не зарегистрированы?
        <a [routerLink]="['/register']" class="btn btn-link">Зарегистрироваться</a>
      </small>

    </form>
  </div>
</body>
