<body class="page">
<div class="container">
  <h3 id="title">Регистрация аккаунта</h3>
  <form #registerForm="ngForm" (ngSubmit)="registerUser()">
    <div class="form-group" id="email-form">
      <label for="email">Email:</label>
      <input type="email" class="form-control" placeholder="Введите адрес электронной почты" name="email" [(ngModel)]="user.email" #email="ngModel" required
             [class.is-invalid]="email.invalid && email.touched" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
      >
      <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email - обязательное поле!</small>-->
      <div *ngIf="email.errors && (email.invalid && email.touched)">
        <small class="text-danger" *ngIf="email.errors?.['required']">Email - обязательное поле!</small>
        <small class="text-danger" *ngIf="email.errors?.['pattern']">Email введён некорректно!</small>
      </div>
    </div>
    <div class="form-group" id="login-form">
      <label for="login">Логин:</label>
      <input type="text" class="form-control" placeholder="Введите логин" name="login" [(ngModel)]="user.login" #login="ngModel" required
             [class.is-invalid]="login.invalid && login.touched"
      >
      <small class="text-danger" [class.d-none]="login.valid || login.untouched">Логин - обязательное поле!</small>
    </div>
    <div class="form-group" id="firstname-form">
      <label for="firstname">Имя:</label>
      <input type="text" class="form-control" placeholder="Введите имя" name="firstname" [(ngModel)]="user.firstname" #firstname="ngModel" required
             [class.is-invalid]="firstname.invalid && firstname.touched"
      >
      <small class="text-danger" [class.d-none]="firstname.valid || firstname.untouched">Имя - обязательное поле!</small>
    </div>
    <div class="form-group" id="lastname-form">
      <label for="lastname">Фамилия:</label>
      <input type="text" class="form-control" placeholder="Введите фамилию" name="lastname" [(ngModel)]="user.lastname" #lastname="ngModel">
    </div>
    <div class="form-group" id="password-form">
      <label for="pwd">Пароль:</label>
      <input type="password" class="form-control" placeholder="Введите пароль" name="password" [(ngModel)]="user.password" #password="ngModel" required
             [class.is-invalid]="password.invalid && password.touched"
      >
      <small class="text-danger" [class.d-none]="password.valid || password.untouched">Пароль - обязательное поле!</small>
    </div>
    <div class="form-group" id="cpassword-form">
      <label for="cpwd">Подтвердите пароль:</label>
      <input type="password" class="form-control" placeholder="Введите пароль ещё раз" name="cpassword" (ngModel)="user.password" #cpassword="ngModel" required
             [class.is-invalid]="cpassword.invalid && cpassword.touched"
      >
      <small class="text-danger" [class.d-none]="(cpassword.value == password.value) || cpassword.untouched">Пароли не совпадают!</small>
    </div>
    <button [disabled]="registerForm.form.invalid" type="submit" class="btn btn-outline-danger" id="submit-button">Зарегистрироваться</button>
    <small id="toLogin-button">
      Уже зарегистрированы?
      <button type="button" class="btn btn-link" [routerLink]="['/profile/login']">Войти</button>
    </small>
  </form>
</div>
</body>
