<div class="container">
  <h2 class="title">Отзывы об организаторе</h2>
  <div class="reviews">
<div *ngFor="let review of reviews">
<p style="font-size: 22px;">Отзыв пользователя <b>{{review.id.userId}}</b></p>
  <a href="events/description?eventId={{review.id.eventId}}">Перейти к событию</a>
  <p style="margin-top: 10px;">Оценка мероприятия: {{review.eventMark}}</p>
  <div *ngIf="review.eventOrganizationMark!==0 && review.recommendToOthersMark!==0 && review.text!=='' && review.eventLengthMark">
    Отзыв: <pre>{{review.text}}</pre>
    <p>Оценка организации события: {{review.eventOrganizationMark}}</p>
    <p>Готов рекомендовать событие другим: {{review.recommendToOthersMark}}</p>
    <p>Оценка длительности мероприятия: {{lengthsMarks.get(review.eventLengthMark)}}</p>
    <div>Прикреплённые фото:
      <img style="width: 70px; height: 70px;" (click)="showImage(review,photo)" *ngFor="let photo of review.reviewImagesUrls" src="{{photo}}" alt="review image" />
    </div>
  </div>
  <hr>
</div>
</div>
</div>

<ng-image-fullscreen-view
  [imageIndex]="imageIndex"
  [images]="imageObj"
  [show]="isShowFullImage"
  (close)="closeEventHandler()"></ng-image-fullscreen-view>
