.container {
  width: 100%;
  padding: 30px;
}

#title {
  position: relative;
  margin-top: -67px;
  margin-left: 220px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;

  color: #000000;
}

h3 {
  margin: 0 auto;
  font-weight: normal;
  text-align: center;
}

.form-row-2 {
  display: flex;

}

div:not(.free-btn) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form * {
  margin-bottom: 15px;
}

input[type="submit"]:hover {
  background-color: red;
}

.header {
  margin-left: -5px;
  margin-bottom: -10px;
  align-items: end;
  justify-content: end;
}

.header button {
  border: none;
  background: none;
}

ol {
  list-style: none;
}

ol li {
  background: #d3d3d3;
  width: 550px;
  padding: 3px 3px 3px 3px;
  margin-top: -10px;
  margin-left: 165px;
  border-radius: 3px;
}

ol li:hover {
  background: burlywood;
}

.free-btn {
  margin: 0 auto;

}

.searchBtn {
  height: 40px;
  width: 250px;
  margin-left: 230px;
  background: #D15D55;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: white;
}

.form-control, .form-select {
  height: 35px;
}

#wordInput {
  width: 550px;
  margin-bottom: 0px;
}

#eventTypeInput {
  width: 550px;
}

#themeInput {
  width: 550px;
}

#maxDistanceInput {
  width: 465px;
}

#maxDistanceInputMeasure {
  width: 100px;
}

#ownerRatingInput {
  width: 550px;
}