<div class="surveyTest" id="surveyTest-container">
    <div class="surveyTest-text">
        <div class="surveyTest-text-caption" id="surveyTest-text-captionType">
            1. Какие типы мероприятий вам интересны?
        </div>
        <label class="radio-area">
            <input type="radio" name="type" value="business">
            Деловые
        </label>
        <label class="radio-area">
            <input type="radio" name="type" value="educational">
            Учебные
        </label>
        <label class="radio-area">
            <input type="radio" name="type" value="entertaining">
            Развлекательные
        </label>
        <label class="radio-area">
            <input type="radio" name="type" value="sport">
            Спортивные
        </label>
        <label class="radio-area">
            <input type="radio" name="type" value="another">
            Другое
        </label>
        <div class="surveyTest-text-caption">
            2. Мероприятия какого формата вас интересуют?
        </div>
        <label class="radio-area">
            <input type="radio" name="format" value="online">
            Online
        </label>
        <label class="radio-area">
            <input type="radio" name="format" value="offline">
            Offline
        </label>
        <div class="surveyTest-text-caption">
            3. Когда вы желаете посетить мероприятие?
        </div>
        <label class="radio-area">
            <input type="radio" name="time" value="soon">
            В ближайшее время
        </label>
        <label class="radio-area">
            <input type="radio" name="time" value="week">
            На этой неделе
        </label>
        <label class="radio-area">
            <input type="radio" name="time" value="noMater">
            Не важно
        </label>
        <div class="surveyTest-text-caption">
            4. Мероприятия какого города вас интересуют?
        </div>
        <textarea class="surveyTest-textarea"></textarea>


        <div class="surveyTest-button" id="surveyTest-button-end" routerLink="/">Завершить прохождение</div>
        <div class="surveyTest-button" id="surveyTest-button-cancel" routerLink="/">Отменить прохождение</div>
    </div>
</div>